
//Settings
$flex-aligments: (
  l    : left,
  c    : center,
  r    : right,
  sa   : space-around,
  sb   : space-between,
  fs   : flex-start,
  fe   : flex-end,
  s    : stretch ,
  se   : space-evenly,
);

$flex-directions: (
  r    : row,
  c    : column,
);

/* Flex Helper
  Syntax
  .fx-{flex-direction}-{justify-content}-{align-items}

  Example
 .fx-r-sa-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
}
*/

@each $direction-key, $direction-property in $flex-directions{
  @each $align-key, $align-property in $flex-aligments{
    @each $justify-key, $justify-property in $flex-aligments{
      .#{$prefix}fx#{$sd2}#{$direction-key}#{$sd2}#{$justify-key}#{$sd2}#{$align-key}{
        display: flex;
        flex-direction: $direction-property;
        justify-content: $justify-property;
        align-items: $align-property;
      }
    }
  }
}
